* {
  margin: auto;
}

body {
  height: 1050px;
  background: url('../images/background.jpg');
  background-repeat: no-repeat;
  background-size: 2000px;
  color: lightgreen;
}

h1 {
  text-align: center;
  height: 50px;
  font-size: 30px;
  background-color: yellowgreen;
}

h2 {
  font-size: 25px;
  margin-bottom: 50px;
  text-decoration: underline;
}

nav {
  width: 100%;
  padding-bottom: 15px;
  padding-top: 15px;
  text-align: center;
  background-color: yellowgreen;
} 

nav li {
  justify-content: space-around; 
  display: inline-block;
  font-size: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

#profilePic {
  margin-left: 200px;
  margin-top: 50px;
  display: inline-block;
}

div.item {
  vertical-align: top;
  margin-left: 250px;
  margin-top: 50px;
  display: inline-block;
  text-align: center;
  /* width: 120px; */
}

img {
  margin-bottom: 25px;
  width: 250px;
  height: 250px;
  background-color: grey;
}

img {
  height: 300px;
  width: 300px;
  box-shadow: 10px 10px 5px black;
}

span {
  text-align: center;
  /* margin-left: 25px; */
  text-shadow: 2px 2px rgb(0, 0, 0);

}

.caption {
  display: block;
  height: 200px;
  width: 300px;
  text-align: center;
}

/* #desc p {

} */

/* #desc {
  margin-top: 50px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 200px;
  font-size: 20px;
  text-align: center;
} */