* {
  margin: auto;
}

h1 {
  text-align: center;
  background-color: rgb(180, 161, 55);
  height: 50px;
  font-size: 30px;
}

h2 {
  margin-bottom: 50px;
  text-decoration: underline;
}

nav {
  width: 100%;
  padding-bottom: 15px;
  background-color:rgb(180, 161, 55);
  text-align: center;
} 

nav li {
  justify-content: space-around; 
  display: inline-block;
  font-size: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

#profilePic {
  margin-left: 240px;
  margin-top: 50px;
  display: inline-block;
}

img {
  height: 300px;
  width: 300px;
  box-shadow: 10px 10px 5px grey;
}

#desc {
  margin-top: 50px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 200px;
  font-size: 20px;
  text-align: center;
}