nav li{
    display: inline-block;
    color: whitesmoke;
    padding: 5px; 
    border-radius: 10px;
    background-color: rgb(180, 161, 55);
    margin-top: 15px;
}
body{
    background-image: url(/images/background.jpg);
    color:rgb(207, 28, 28);
    font-weight: bold;

    text-shadow: 1px 1px 2px black;
}
main {
    display:inline-block;
    width:100%;
}
h2 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}
aside {
    margin: 0 auto;
    height:600px;
    float:left;
    width: 35%;
    box-shadow:5px 5px black;
    margin-left:10px;
}
#quiz {
    margin: 0 auto;
    margin-right:15px;
    height: 600px;
    float:right;
    width:57%;
    box-shadow:5px 5px black;
}
#question {
    margin-bottom:15px;
}
button {
    margin:10px;
    border-radius: 10px;
    background-color: blueviolet;
}
