

/* nav li{
    display: inline-block;
    color: whitesmoke;
    padding: 5px; 
    border-radius: 10px;
    background-color: rgb(180, 161, 55);
    margin-top: 15px;
}

body{
    background-color: grey;
} */